/*  global style    */

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
    object-fit: cover;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}


/*          header        */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo-color {
    color: #2e2f42;
}

.navigation-item {
    display: flex;
    gap: 40px;
   
}

.navigation-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list .navigation-link:hover,
.navigation-list .navigation-link:focus {
    color: #404bbf;
}

.navigation-link.activ {
    color: #404bbf;
}

.navigation-link.activ::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
}

.address {
    font-style: normal;
}

.address-item {
    display: flex;
    gap: 40px;
}

.address-list {
    padding: 24px 0;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .address-link:hover,
.address-list .address-link:focus {
    color:#404bbf;
}

/*            main                */
/*       solution-section         */

.solution {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.solution-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
}

.solution-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solution-button:hover,
.solution-button:focus {
    background-color: #404BBF;
}

/*       directions-section         */

.directions {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.direction-item {
    display: flex;
    gap: 24px;
}

.direction-list {
    width: calc((100% - 72px) / 4);
}

.container-svg {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background:#F4F4FD;
    margin-bottom: 8px;
    padding: 24px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.direction-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.direction-list-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*             team-section           */

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-item {
    display: flex;
    gap: 24px;
}

.team-list {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.tem-profession-container {
padding: 32px 0;
}

.team-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-item-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.team-list-svg {
    width: 40px;
    height: 40px;
}

.team-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
    background-color: #404BBF;
}

.team-svg {
    fill: #f4f4fd;
}

/*         portfolio-section           */

.portfolio {
    padding: 120px 0;
}

.portfolio-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover {
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        transform: translateY(0%)
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .overlay {
    transform: translateY(0);
}

.portfolio-apps-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list-header {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px
}

.portfolio-list-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*               footer                */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.footer-container-logo {
    margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;    
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-social {
    margin-right: auto;
}

.footer-paragraph-social {
    color:#FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-item-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-list-svg {
    width: 40px;
    height: 40px;
}

.footer-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31D0AA;
}

.footer-svg {
    fill: #f4f4fd;
}

.footer-sabscribe {
    display: flex;
    flex-direction: column;
}

.sabscribe-paragraph {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.sabscribe-form {
    display: flex;
    align-items: center;
    gap: 24px;
}

.subscribe-label {
   
}

.subscribe-input {
    width: 264px;
    height: 40px;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #2E2F42;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 0.5;
    letter-spacing: 0.04em;
    padding: 8px 16px;
}

.subscribe-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border: none;
    min-width: 165px;
    height: 40px;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background: #4D5AE5;
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #31D0AA;
}

.subscribe-icon {}

/*              backdrop               */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal {
    width: 408px;
    min-height: 584px;
    padding: 24px;
    border-radius: 4px;
    background: #FCFCFC;
}

.modal-button {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 24px;
}

.modal-button-icon {

}

.modal-paragraph {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form {

}